In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import surprise as sp 
import tensorflow as tf

from tensorflow import keras
from collections import deque
from surprise.model_selection import cross_validate
from keras.layers import Input, Embedding, Reshape, Dot, Concatenate, Dense, Dropout
from keras.models import Model
from sklearn.metrics import mean_squared_error

Rekomendasi Menggunakan Arpiori

In [2]:
df = pd.read_csv("Dataset - Combination.csv")
# df = df.drop(['Package','City'],axis=1)

In [3]:
transacts = []
# populating a list of transactions
for i in range(0, 7501): 
  transacts.append([str(df.values[i,j]) for j in range(0, 8)])

In [15]:
from apyori import apriori
import pickle
model = apriori(transactions = transacts, min_support = 0.003, min_confidence = 0.002, min_lift = 0.003, min_length = 2, max_length = 3)
output = list(model)

In [18]:
# saved_model = pickle.dumps(output)
pickle.dump(output, open("apriori.pkl", "wb"))

In [5]:
pd.set_option('max_colwidth', 1000)
Result=pd.DataFrame(columns=['Rule'])
for item in output:
    pair = item[2]
    for i in pair:
        items = str([x for x in i[0]])
        if i[3]!=1:
            Result=Result.append({
                'Rule':str([x for x in i[0]])+ " -> " +str([x for x in i[1]])
                },ignore_index=True)
Result

                                                       Rule
0       ['Agrowisata Satria'] -> ['Air Terjun Aling-Aling']
1       ['Air Terjun Aling-Aling'] -> ['Agrowisata Satria']
2        ['Agrowisata Satria'] -> ['Air Terjun Tegenungan']
3        ['Air Terjun Tegenungan'] -> ['Agrowisata Satria']
4                   ['Agrowisata Satria'] -> ['Bali Swing']
...                                                     ...
9593  ['Wisata Agro Alas Harum'] -> ['Tirta Gangga', 'nan']
9594  ['nan'] -> ['Tirta Gangga', 'Wisata Agro Alas Harum']
9595  ['Tirta Gangga', 'Wisata Agro Alas Harum'] -> ['nan']
9596  ['Tirta Gangga', 'nan'] -> ['Wisata Agro Alas Harum']
9597  ['Wisata Agro Alas Harum', 'nan'] -> ['Tirta Gangga']

[9598 rows x 1 columns]

In [12]:
import re
def find(item):
    out = []
    for x in range(len(Result)):
        if item in Result["Rule"].iloc[x]:
            out.append(re.sub('[^\w]', " ", Result["Rule"].iloc[x]).replace(item, "").strip())
    for x in range(len(out)): #doubles
        if out[x] != "":
            return out[x]
def find2(item1, item2):
    out = []
    for x in range(len(Result)):
        if item2 in Result["Rule"].iloc[x]:
            out.append(re.sub('[^\w]', " ", Result["Rule"].iloc[x]).replace(item1, "").replace(item2, "").strip())
    for x in range(len(out)): #doubles
        if out[x] != "":
            return out[x]

In [ ]:
find("Pura Uluwatu")
find2("Pura Uluwatu", "Agung Bali")

'Bali Bird Park'

In [13]:
print("Silahkan Pilih Destinasi Anda")
item = input("Pilih tempat Pilihan anda")
data1 = find(item)
tanya1 = input(f"Biasanya Setelah pergi ke {item} kami merekomendasikan ke {data1}, apakah anda tertarik ?")
if tanya1 == "yes" : 
     data2 = find2(item, data1)
     print(f"Biasanya Setelah pergi ke {item} dan {data1} kami merekomendasikan ke {data2}, apakah anda tertarik ?")
elif tanya1 == "lokasi lain" :
     item2 = input("Pilih tempat Pilihan anda")
     data3 = find2(item, item2)
     print(f"Biasanya Setelah pergi ke {item} dan {data1} kami merekomendasikan ke {data3}, apakah anda tertarik ?")
else :
    print(f"Destinasi {item} Telah ditambahkan ke plan anda")

Silahkan Pilih Destinasi Anda
Biasanya Setelah pergi ke Agrowisata Satria dan Air Terjun Aling Aling kami merekomendasikan ke None, apakah anda tertarik ?